*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
}

.col-1,
.col-2,
.col-3{
    flex: 1;
    padding: 10px;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}

main{
    width: 1000px;
    margin: 0 auto;
}


header{
    margin: 0 auto;
    width: 1000px;
}

nav{
    width: 1000px;
    margin: 0 auto;
}

article{
    margin: 0 auto;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    height: 100px;
    width: 984px;
    margin: 0 auto;
    border: 2px solid black;
    
}

.logo{
    width: 40px;
    background-color: cyan;
    border-radius: 5px;
    margin: 7px;
}

.principio{
    align-items: center;
}

.carrito{
    width: 30px;
    margin: 9px;
    cursor: pointer;
}

.buscador{
    width: 730px;
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;

}



.navegacion{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.linea{
    border: 1px solid black;
}

.navegacion a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 50px;

}


.fondo{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    padding: 50px;
    width: 320px;
    height: 300px;
    background-color: cyan;
    color: white;
}

.discover{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    margin-left: 20px;
}

.flecha{
    width: 40px;
}

.suculenta-1{
    background-image: url(img/succulents-1.jpg);
    background-size: cover;
    width: 320px;
    height: 300px;
    margin-top: 40px;
    transition: ease-in-out 0.2s;
}

.suculenta-1:hover{
    background-image: url(img/succulents-2.jpg);

}


.imagen-2{
    margin-top: 40px;
    width: 320px;
    height: 200px;
}

.parrafo-1{
    background-color: cyan;
    font-size: 22px;
    color: white;
    height: 76px;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.flechita{
    padding: 2px;
    width: 25px;
}

.imagenes{
    margin-top: 30px;
    background-color: cyan;
    width: 982px;
    height: 200px;
}

.imagenes img{
    width: 100px;
    border-radius: 100px;
    margin: 17px;
}

.nombres{
    text-align: center;
    font-size: 20px;
}

.btn{
    background-color: cyan;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    box-shadow: 3px 5px black;
    font-size: 17px;
    color: white;
}

