*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
}

.col-1,
.col-2,
.col-3{
    flex: 1;
    padding: 10px;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}

main{
    width: 1200px;
    margin: 0 auto;
}


header{
    margin: 0 auto;
    width: 1200px;
}

nav{
    width: 1200px;
    margin: 0 auto;
}

.principio{
    align-items: center;
}

.buscador{
    width: 800px;
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;

}

.navegacion{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.linea{
    border: 1px solid black;
}

.navegacion a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 50px;

}


.fondo{
    padding: 90px;
    width: 350px;
    height: 320px;
    background-color: cyan;
}

.discover{
    text-align: center;
}
